/******************************************************************
Site Name: HTML5/CSS3 for SFCC - Summer 2013
Author: Brianna Kirkland

Stylesheet: Variables

These are used throughout the site and contain things like 
colorschemes, font stacks, etc. It's called right after the 
normalize stylesheet.
******************************************************************/


/*********************
COLORS
*********************/


// greyscale

$black 			: rgb(0,0,0);
$darkgrey 		: lighten($black, 25%);
$grey 			: lighten($black, 50%);
$lightgrey 		: lighten($black, 75%);
$lightergrey 	: lighten($black, 90%);
$white 			: rgb(255,255,255);

// site-wide color scheme

$brick: #88261a;
$salmon: #9d563c;
$dijon: #c1b373;
$olive: #80885c;
$slate: #5b7181;

$rgbbrick: rgb(136,38,26);
$rgbsalmon: rgb(157,86,60);
$rgbdijon: rgb(193,179,115);
$rgbolive: rgb(128,136,92);
$rgbslate: rgb(91,113,129);


$bodycolor : $grey;
$textcolor : $black;

$basecolor 		: $rgbslate;    // original template used RGB colors here
$compcolor 		: adjust-hue($basecolor, 180);
$bordercolor    : lighten($basecolor, 60%);

// Links

$linkcolor 		    : $rgbbrick;   // original template used RGB colors here
$linkcolorhover 	: darken($linkcolor, 10);
$linkcolorvisited   : darken($linkcolorhover, 10);
$linkcolorfocus 	: darken($linkcolorvisited, 10);

// colour palettes

$alertcolor 	: $rgbdijon;
$errorcolor 	: $rgbbrick;
$infocolor 		: $rgbolive;
$inverscolor 	: $rgbslate;
$successcolor 	: $rgbolive;
$warningcolor 	: $rgbsalmon;

/*********************
FONT-FACE DECLARATIONS
*********************/

/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/

/*	@font-face {
    	font-family: 'Font Name';
    	src: url('../fonts/font-name.eot');
    	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('../fonts/font-name.woff') format('woff'),
             url('../fonts/font-name.ttf') format('truetype'),
             url('../fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/

// Contra (Body Text)

@font-face {
    font-family: 'ContraRegular';
    src: url('../fonts/contra-webfont.eot');
    src: url('../fonts/contra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/contra-webfont.woff') format('woff'),
         url('../fonts/contra-webfont.ttf') format('truetype'),
         url('../fonts/contra-webfont.svg#ContraRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ContraItalic';
    src: url('../fonts/contra-italic-webfont.eot');
    src: url('../fonts/contra-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/contra-italic-webfont.woff') format('woff'),
         url('../fonts/contra-italic-webfont.ttf') format('truetype'),
         url('../fonts/contra-italic-webfont.svg#ContraItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Droid Sans Mono (Code Text)

@font-face {
    font-family: 'DroidSansMonoRegular';
    src: url('../fonts/DroidSansMono-webfont.eot');
    src: url('../fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSansMono-webfont.woff') format('woff'),
         url('../fonts/DroidSansMono-webfont.ttf') format('truetype'),
         url('../fonts/DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*********************
TYPOGRAPHY
*********************/

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif; 
$serif:             "ContraRegular", "Minion Pro", Cambria, Georgia, Times, "Times New Roman"; // ---------------- Add @font-face support


$basefont : $serif;
$basefontsize : 16;
$baselineheight : 1.5em;

$baseheadingfont : Optima, "Gill Sans", "Futura", Candara, Calibri, Arial, sans-serif;   // -----------------------------------------------------   Add @font-face support
$baseheadingfontweight : bold;
$baseheadingfontcolor : inherit;

$altfont : $sans-serif;
$altlineheight : 1.35em;

$codefont : "DroidSansMonoRegular", Monaco, Courier New, monospace;



/*********************
TEXTURE 
*********************/

// alert

$alertbordercolor	: darken($alertcolor, 20%);
$alertborderwidth 	: 1px;
$alertborderstyle 	: solid;
$alerttext			: darken($alertcolor, 60%);

// alert-error
$alerterrorcolor 	: lighten($errorcolor, 30%);
$alerterrorborder  	: lighten($errorcolor, 20%);
$alerterrortext 	: $errorcolor;

// alert-info
$alertinfocolor 	: $infocolor;
$alertinfoborder  	: lighten($infocolor, 20%);
$alertinfotext 		: darken($infocolor, 50%);

// alert-inverse
$alertinversecolor 	: $inverscolor;
$alertinverseborder : $black;
$alertinversetext 	: $white;

// alert-success
$alertsuccesscolor 	: lighten($successcolor, 30%);
$alertsuccessborder : lighten($successcolor, 20%);
$alertsuccesstext 	: darken($successcolor, 20%);

// alert-warning
$alertwarningcolor 	: lighten($warningcolor, 30%);
$alertwarningborder : lighten($warningcolor, 20%);
$alertwarningtext 	: darken($warningcolor, 20%);

// badges

$badgebackground 	: $lightergrey;
$badgecolor 		: $grey;

// buttons

$buttonbackground 	: $lightergrey;
$buttonbordercolor 	: darken($buttonbackground, 10%);
$buttonbottombordercolor : darken($buttonbordercolor, 10%);
$buttoncolor 		: $darkgrey;
$buttonborderwidth	: 1px;
$buttonborderstyle	: solid;

// boxes (well)

$wellbackground		: lighten($basecolor, 75%);
$wellbordercolor	: darken($wellbackground, 20%);
$wellborderwidth	: 1px;
$wellborderstyle	: solid;
$wellshadow			: darken($wellbackground, 10%);
$wellshadowblur		: 10px;


/*********************
ELEMENTS
*********************/

// tables

$tablebackground 	: transparent;
$tablestripe 		: lighten($basecolor, 60%);
$tablehover 		: lighten($basecolor, 50%);
$tableborder 		: lighten($basecolor, 40%);
$tableborderwidth	: 1px;
$tableborderstyle	: solid;

// forms

$inputbackground 	: $white;
$inputborder 		: lighten($basecolor, 40%);
$inputborderwidth	: 1px;
$inputborderstyle	: solid;
$inputhover 		: lighten($basecolor, 20%);
$inputfocus 		: $basecolor, 40%;
$placeholdercolor 	: $lightgrey;


/*********************
LAYOUT 
*********************/

$baseline : $baselineheight;
$gutterwidth : 24px;




/*********************
VENDOR-SPECIFIC  
*********************/



/*********************
 MODERNIZR 
*********************/



/*********************
TEMPLATE SPECIFICS
*********************/

